body {
  border: red 3px dashed;
  width: 100%;
  border: black 2px solid;
  color: cadetblue;
  background-color: whitesmoke;
}

.header {
  border: red 3px solid;
  background-color:cadetblue;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  width:20%;

  }

 .content {
  display: flex;
  border: blue 3px solid;
  width: 75px%;
  }

  .first-project {
   border: blue 3px dashed;    
  }

  article {
    display: flex;
    border: blue 3px dashed;
    width: 75%;
  }
