body{
  border: black 2px solid;
  color: navy;
  background-color: antiquewhite;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div {
  border: red 2px dashed;
  display: flex;
  width: 20%;
  }

  main {
    display: flex;
    border: red 2 px dashed;
    width: 75%;
  }

  nav ul li {
    border: red 2px dashed;
  }
  


  .card {
    flex: 25%;
    flex-wrap: wrap;
  }